/* Write your CSS code in this file */
body{
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("questionmark.jpeg");
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: auto;
    background-color:lightgrey;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 4px 4px 4px black;

}


h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 60px;
    text-align: center;
    margin: auto;
    width: 80%;
    border-radius: 60px;
    padding: 10px;
    color:white;
    text-shadow: 2px 2px 2px black;
    
    ;}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 80%;
    border-radius: 60px;
    padding: 10px;
}

#guessInput{
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color:black; 
    color:white; 
    border-radius: 10px; 
    border: solid 5px white; 
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 50px;
  }

  #submitButton{
    font-weight: bolder; 
    margin-top:10px; 
    margin-bottom:10px;
    background-color:lightblue; 
    border: 2px solid white;
    color:white; 
    border-radius: 50px; 
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: medium;
    padding:10px;
  }

  #submitButton:hover{
    box-shadow: 2px 2px 2px black;
  }

  #myform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


  #outputText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: x-large;
    padding:10px;
    border-radius: 10px; 
    width: 300px;
    height:100px;
    background-color: white;
  }

  

  #hintButton{
    font-weight: bolder; 
    margin-top:10px;
    margin-bottom:10px; 
    background-color: lightslategray; 
    color:white; 
    border-radius: 10px; 
    border: solid 1px gray; 
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: x-small;
    padding: 5px;
    }
    #hintButton:hover{
        box-shadow: 1px 1px 1px black;
      }

      #hintBox{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder; 
        background-color: white;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
        font-size: large;
        border-radius: 10px; 
        width:fit-content;
        height:fit-content;
        padding:5px;
      }
  
  #restartButton{
    font-weight: bolder; 
    margin-top:20px; 
    background-color: white; 
    border-radius: 50px; 
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: large;
    padding:10px;
    border: 2px solid white;
    
  }
  #restartButton:hover{
    box-shadow: 2px 2px 2px black;
  }

  #previousGuess{
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    width:50px;
    height:50px;
    margin: auto;
    background-color: white;
    font-size: xx-large;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 50px;
    padding: 10px;
    font-weight: bolder;
    
  }


    input {
        caret-color: transparent;
        outline: none;
      }
    